.signin{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,500px));
    max-width: 1200px;
    margin-inline: auto;
    justify-content: space-around;
    /* border: 2px solid red; */
    margin-block: 40px;
    /* align-items: center; */
}
.signin_form form{
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
    justify-content: space-evenly;
    width: 300px;
    /* border: 2px solid red; */
    height: 250px;
}
.signin_form input{
    padding: 5px;
    border: 1px solid black;
    /* border-radius: 15px; */
    border: none;
    outline: none;
    border-bottom: 3px solid black;
}
.signin_form button{
    padding: 8px;
    background-color: #DB4444 ;
    color: white;
    font-size: 15px;
    border: none;
    font-weight: 600;
}
@media screen and (max-width:700px) {
    .signin .signin_img img{
        display: none;
        
    }
    
}