.about_our_story{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,500px));
    max-width: 1200px;

    margin-inline: auto;
    justify-content: space-around;

}
.about_our_story h2{
    text-align: start;
    font-size: 40px;
    margin-bottom: 30px;
}
.company_members{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,300px));
    max-width: 1100px;
    margin-inline: auto;
    justify-content: space-around;
    gap: 40px;
}
section{
    margin-block: 40px;
}