.cardBody{
    /* height: 370px; */
    width: 300px;
    /* outline: 2px solid black; */
    display: flex;
    justify-content: space-around;
    gap: 5px;
    flex-direction: column;
}
.product_price{
    font-size: 18px;
    display: flex;
    gap: 10px;
    /* text-decoration: line-through; */
}
.price_red{
    color: rgb(166, 2, 2);
    text-decoration: none;
}
.price_strike{
    text-decoration: line-through;
}
.product_review{
    width: 40%;
}
